<div id="photo-parent">
    <div class="fill mpo-photo-outer" ng-style="outerStyle[0]" ng-show="visible[0]"></div>
    <div class="fill mpo-photo-inner" ng-style="innerStyle[0]" ng-show="visible[0]"></div>
    <div class="fill mpo-photo-outer" ng-style="outerStyle[1]" ng-show="visible[1]"></div>
    <div class="fill mpo-photo-inner" ng-style="innerStyle[1]" ng-show="visible[1]"></div>
    <div class="fill mpo-photo-outer" ng-style="outerStyle[2]" ng-show="visible[2]"></div>
    <div class="fill mpo-photo-inner" ng-style="innerStyle[2]" ng-show="visible[2]"></div>
</div>
