<span class="title">Elio Box ! (version {{version}})</span>
<section class="row">
  <div class="col-md-2 col-md-offset-3">
    <a href="#/diaporama" class="thumbnail" ng-class="{'mpo-selected': selectedOne === 0}">
      <img src="images/slideshow.png" alt="Diaporama">
      <h4>Diaporama</h4>
    </a>
  </div>
  <div class="col-md-2">
    <a href="#/photos" class="thumbnail" ng-class="{'mpo-selected': selectedOne === 1}">
      <img src="images/photos.png" alt="Photos">
      <h4>Photos</h4>
    </a>
  </div>
  <div class="col-md-2">
    <a href="#/standaloneChat" class="thumbnail" ng-class="{'mpo-selected': selectedOne === 2}">
      <img src="images/phone.png" alt="Photos">
      <h4>Visiophone</h4>
    </a>
  </div>
</section>

