<p>This is the sip view.</p>
<img src="http://localhost:8889/elio-1.jpg"/>
<div id="myCarousel" class="carousel slide" data-ride="carousel">

  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <img src="http://localhost:8889/elio-2.jpg" alt="Chania">
    </div>

    <div class="item">
      <img src="http://localhost:8889/elio-1.jpg" alt="Chania">
    </div>

    <div class="item">
      <img src="http://localhost:8889/elio-3.jpg" alt="Flower">
    </div>

  </div>
</div>